# --------------------
# 1. 编译产生的垃圾 (必须忽略)
# --------------------
cmake-build-*/
*.exe
*.o
*.obj
*.dll
*.lib
*.so
*.dylib
bin/
obj/

# --------------------
# 2. IDE 产生的私人配置 (必须忽略)
# --------------------
.idea/
.vscode/
*.swp
*.user

# --------------------
# 3. 操作系统产生的垃圾
# --------------------
.DS_Store
Thumbs.db